body{
    font-family: 'Montserrat', sans-serif;
}
.opening{
    background-image: url("../img/openingPage.png");
    background-size: cover;
    background-repeat:no-repeat ;
    padding-bottom:255px;
}
.header{
    background-color: rgba(0, 0, 0, 0.35);
}
.header-logo{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.h-letter{
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.header-logo-text{
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin-left: 8px;
}
.header-content{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.hexagon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 63px;
    background-color: #64C7CC;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.header-navbar{
    display: flex;
    justify-content: space-between;
}
.header-navbar-li{
    cursor: pointer;
    padding: 55px 0;
    margin-right: 15px;
}
.header-navbar-li:last-child{
    margin-right: 0;
}
.header-navbar-li-a{
    display: inline-block;
    text-decoration: none;
    color: #b8b8b8;
    text-transform: uppercase;
    font-size: 13px;
}
.header-navbar-li:hover .header-navbar-li-a{
    color: #18cfab;
}
.header-navbar-li:hover{
    border-bottom: solid 2px #18cfab;
    padding: 55px 0 51px 0;
}
.header-navbar-li:last-child{
    border: none;
    padding: 53px 0;
}
.header-navbar-li-img{
    width: 90%;
    height: 90%;
}
.opening-content-headers{
text-align: center;
    margin: 246px 0 0 0;
    color: white;
    text-transform: uppercase;
}
.opening-content-h3{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}
.opening-content-h1{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 15px;
}
.opening-content-h4{
    font-size: 30px;
    font-weight: lighter;
}
.opening-content-buttons{
    width: 360px;
    display: flex;
    justify-content: space-between;
    margin: 132px auto 0 auto;
    font-size: 12px;
    text-transform: uppercase;
}
.opening-content-buttons-first{
    color: white;
    padding: 26px 8px 25px 8px;
    width: calc(100% / 2 - 28px);
    text-decoration: none;
    background-color: #18cfab;
    border-radius: 5px;
    text-align: center;
    border-top:4px solid white;
    font-weight: bold;
}
.opening-content-buttons-second{
    text-align: center;
    padding: 26px 8px 25px 8px;
    width: calc(100% / 2 - 28px);
    text-decoration: none;
    background-color: #00cbf6;
    color: white;
    border-radius: 5px;
    border-top:4px solid white;
    font-weight: bold;
}
.blue-text{
    color: #18cfab;
}
.blocks{
    display: flex;
}
.blocks-square{
    width: 25%;
    height: 374px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.blocks-square:nth-child(odd){
    background-color: #1c2a33;
    border-top: 5px solid #18cfab;
    color: #18cfab;
}
.blocks-square:nth-child(even){
    color: white;
    background-color: #18cfab;
    border-top: 5px solid white;
}
.blocks-square-img{
margin-bottom: 48px;
}
.blocks-square-text{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}
.parallax {
    background-image: url("../img/parallaxLayer.png");
    height: 476px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.transparency{
    height: 476px;
    background-color: rgba(0,0,0,0.85);
}
.parallax-h3{
    color: #18cfab;
    text-align: center;
    font-size: 39px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 126px;
    padding-bottom: 35px;
}
.parallax-h6{
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: lighter;
}
.parallax-button{
    color: white;
    text-decoration: none;
    background-color: #18cfab;
    border-radius: 5px;
    text-align: center;
    border-top:4px solid white;
    padding: 26px 25px;
    margin: 75px auto 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    width: 165px;
}
.news-header{
    text-align: center;
    margin-top: 84px;
    position: relative;
}
.news-header::after{
    position: absolute;
    display: block;
    left: 47%;
    bottom: -51px;
    content: "";
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    box-shadow: 9px 4px #18cfab;
}
.news-header-h6{
    font-size: 36px;
}
.news-table{
    display: flex;
    flex-wrap:wrap;
    width: 1139px;
    margin: 154px auto 0 auto;
}
.news-table-link{
    position: relative;
    text-decoration: none;
    width: calc(100% / 4 - 28px);
    margin: 0 28px 45px 0;
}
.news-table-link:nth-child(4){
    margin-right: 0;
}
.news-table-link:nth-child(8){
    margin-right: 0;
    margin-bottom: 100px;
}
.news-table-link-date{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: #203e38;
    top:0;
    right: -6px;
    padding: 15px 20px;
    color: white;
    font-size: 17px;
    line-height: 20px;
    font-weight: lighter;
}

.news-table-link-text{
    background-color: #f8fcfe;
    width: 261px;
    border: 1px solid #f4f4f4;
    display: block;
    padding-top: 14px;
}
.news-table-link-text-h6{
    color: #717171;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 14px;
}
.news-table-link-text-admin{
    display: flex;
    margin-top: 14px;
    padding-left: 14px;
    padding-bottom: 14px;
    color: black;
}
.news-table-link-text-admin-p1{
    padding-right: 20px;
    border-right: solid 1px black;
}
.news-table-link-text-admin-p2{
    padding-left: 20px;
}
.news-table-link:hover .news-table-link-date{
    background-color: #18cfab;
}
.news-table-link:hover .news-table-link-text-h6{
    color: #18cfab;
}
.slick{
    background-image: url("../img/peopleSayBg.png");
    height: 853px;
}
.slick-header-h4{
    position: relative;
    text-align: center;
    text-transform: capitalize;
    padding-top: 100px;
    color: white;
    font-size: 36px;
}
.slick-header-h4::after{
    position: absolute;
    display: block;
    left: 47%;
    bottom: -51px;
    content: "";
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    box-shadow: 9px 4px #18cfab;
}
.slick-carousel{
    padding-bottom: 105px;
    position: relative;
}
.slick-carousel-main-item{
    margin: 100px auto 0 auto;
    text-align: center;
    display: block;

}
.slick-carousel-main-text{
    margin: 0 auto;
    width: 1100px;
    text-align: center;
    color: white;
    font-size: 16px;
}
.slick-carousel-main-img{
    margin: 50px auto 0 auto;
    border: 5px solid rgba(0,100,500,0.4);
    border-radius: 50%;
    width: 150px;
}
.slick-carousel-main-img::before{
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 5px solid #ffea00;
}
.slick-carousel-slider{
    width: 364px;
    margin: 0 auto 0 auto;
}
.slick-carousel-slider-img{
    margin: 0 25px 0 0;
    border: 2px solid rgba(0,100,50,0.4);
    border-radius: 50%;
}
.slick-carousel-main-h4{
    margin-top: 25px;
    color: #18cfab;
    font-size: 18px;
    font-weight: bold;
}
.slick-carousel-main-position{
    font-size: 14px;
    margin-top: 10px;
    font-weight: lighter;
    color: white;
}

.text-quote{
    margin: 0 auto 50px auto;
}
.slick-current{
    transform: translateY(-13px);
    transition: 0.5s transform;
    border-color: rgba(0,100,500,0.3);
}
.slick-carousel-arrow{
    position: absolute;
    top: 78%;
    left: 33%;
    border: 1px white solid;
    border-radius: 2px;
    padding: 9px 12px 9px 11px;
    margin-top: 10px;

}
.slick-carousel-arrow-right{
    position: absolute;
    top: 78%;
    right: 33%;
    border: 1px white solid;
    border-radius: 2px;
    margin-top: 10px;
    padding: 9px 12px 9px 11px;
    transform: scaleX(-1);
}
.slick-carousel-arrow:hover{
    background-color: #18cfab;
    border: none;
}
.slick-carousel-arrow-right:hover{
    background-color: #18cfab;
    border: none;
    opacity: 1;
}
.slick-list{
    padding-top: 50px;
}

.services-header-h3{
    margin-top: 82px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 112px;
    position: relative;
}
.services-header-h3::after{
    position: absolute;
    display: block;
    left: 47%;
    bottom: -51px;
    content: "";
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    box-shadow: 9px 4px #18cfab;
}
.services-navbar{
    display: flex;
    margin: 0 auto;
    width: 1143px;
    justify-content: space-between;
}
.services-navbar-h6{
    background-color: #f8fcfe;
    width: 193px;
    padding: 27px 0 30px 0;
    text-align: center;
    border: 1px solid #eeeeef;
    cursor: pointer;
}
.services-content{
    height: 250px;
}
.services-content-item{
    display: flex;
    width: 1143px;
    margin: 24px auto 0 auto;
    align-items: center;
}
.services-content-item-text{
    width: 926px;
    margin: 0 0 0 20px;
    line-height: 1.2em;
}
.invisible{
    display: none;
}
.active{
    background-color: #18cfab;
    color: white;
}
.pseudo{
    position: relative;
}
.pseudo::after{
    content: "";
    display: table;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #18cfab;
    top: 85%;
    left: 45%;
    transform: rotate(45deg);
}

.work{
    margin: 100px 0 100px 0;
}
.work-header-h4{
    text-align: center;
    font-size: 36px;
    position: relative;

}

.work-header-h4::after{
    position: absolute;
    display: block;
    left: 47%;
    bottom: -51px;
    content: "";
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    box-shadow: 9px 4px #18cfab;
}

.work-navbar{
    display: flex;
    width: 710px;
    margin: 100px auto 100px auto;
    justify-content: space-between;
}
.work-navbar-h6{
    border: 1px #ebebeb solid;
    width: 20%;
    text-align: center;
    padding: 24px 0 20px 0;
    background-color: #ffffff;
    cursor: pointer;
}
.work-navbar-h6-selected{
    border-top: 3px solid #18cfab;
    color: #18cfab;
}
.work-item{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.image-cell{
    width: 284px;
    height: 206px;
    position: relative;
}
.work-table-button{
    position: relative;
    background-color: #18cfab;
    color: white;
    max-width: 165px;
    padding: 25px 21px 25px 55px;
    display: flex;
    justify-content: flex-end;
    margin: 70px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.work-table-button::before{
    left: 20px;
    top:13px;
    content: "+";
    color: white;
    position: absolute;
    font-size: 33px;
}
.visibility{
    border-top: 2px #18cfab solid;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    transform: translateY(-211px);
    background-color: white;
    width: 284px;
    height: 208px;
}
.work-table-item-notation{
    background-color: white;
    display: none;


}
.work-table-item-images{
    display: flex;
    margin: 46px auto 34px auto;
    width: 90px;
    justify-content: space-between;
}
.pic{
    border: 1px solid #18cfab;
    border-radius: 47%;
    padding: 13px;
}
.pic2{
    background-color: #18cfab;
}
.work-table-item-text{
    height: 100px;
}
.work-table-item-h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0 0 10px 0;
    font-size: 23px;
    color: #18cfab;
    text-transform: uppercase;
}
.work-table-item-p{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0;
}
.footer{
    height: 108px;
    display: flex;
    background-color: #22353f;
}
.footer-h6{
    text-align: center;
    margin: 0 auto;
    align-self: center;
    color: white;
    font-size: 14px;
    font-weight: lighter;
}
